apiVersion: v1
kind: ConfigMap
metadata:
  name: ess-matrix-authentication-service
  namespace: ess
data:
  mas-config-overrides.yaml: |
    http:
      public_base: "https://account.ess.localhost"
      listeners:
      - name: web
        binds:
        - port: 8080
        resources:
        - name: human
        - name: discovery
        - name: oauth
        - name: compat
        - name: assets
        - name: graphql
          # This lets us use the GraphQL API with an OAuth 2.0 access token,
          # which we currently use in the ansible modules and in synapse-admin
          undocumented_oauth2_access: true
        - name: adminapi
      - name: internal
        binds:
        - port: 8081
        resources:
        - name: health
        - name: prometheus
        - name: connection-info


    database:
      uri: "postgresql://matrixauthenticationservice_user:${POSTGRES_PASSWORD}@ess-postgres.ess.svc.cluster.local.:5432/matrixauthenticationservice?sslmode=prefer&application_name=matrix-authentication-service"


    telemetry:
      metrics:
        exporter: prometheus
    matrix:
      homeserver: "ess.localhost"
      secret_file: /secrets/ess-generated/MAS_SYNAPSE_SHARED_SECRET
      endpoint: "http://ess-synapse-main.ess.svc.cluster.local.:8008"
      kind: synapse_modern

    secrets:
      encryption_file: /secrets/ess-generated/MAS_ENCRYPTION_SECRET
      keys:
      - kid: rsa
        key_file: /secrets/ess-generated/MAS_RSA_PRIVATE_KEY
      - kid: prime256v1
        key_file: /secrets/ess-generated/MAS_ECDSA_PRIME256V1_PRIVATE_KEY

    # Dev-only client for matrix-housekeep. Replace in production.
    clients:
      - client_id: 01JZ8M1T7XH6Q9Q0ZK9N9C2F3A
        client_auth_method: client_secret_post
        client_secret: "dev-secret"
        redirect_uris:
          - http://localhost:5173/auth/callback
  mas-config-underrides.yaml: |2

    policy:
      data:
        admin_users: []
        admin_clients: []
        client_registration:
          allow_host_mismatch: false
          allow_insecure_uris: false
